---
import "../styles/Theme.css";
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar.jsx";
import Footer from "../components/Footer.astro";
---
<Layout title="Gordas Bugers - Cookies">
    <Navbar client:load />
    <section class="w-1/2 mx-auto rounded-md p-4 backdrop-blur-md border-customSecondary border-2 justify-center items-center  ">
        <h2>Global Privacy and Cookie Notice</h2>
        <p>Last updated: 21 July 2023</p>
        <p>
            Please Read Carefully.
            
            Las Gordas Burgers, together with its subsidiaries (collectively, “Las Gordas Burgers”), recognizes the importance of protecting your privacy. This Global Privacy and Cookie Notice (“Notice”) is intended to assist you in understanding Las Gordas Burgers’s data collection and handling practices and in making informed decisions and exercising your data privacy rights under applicable law when you:
            
            • Use Las Gordas Burgers’s public websites and other services to which this Notice is attached (collectively, the Site) or
            
            • Interact professionally with Las Gordas Burgers, including through Las Gordas Burgers-operated social media accounts, and are not otherwise provided with a different privacy notice at the point of interaction (collectively, "Professional Interactions” ).
            
            The Las Gordas Burgers websites that comprise the Site may post a local, country-specific privacy and cookie notice alongside this Notice which supplements or modifies this Notice as necessary to comply with applicable law (“Local Notices”).
            
            SUMMARY OF KEY INFORMATION
            
            Responsible Entity	Depending on how and for what reason we collect your personal information through this Site or your Professional Interactions, the Las Gordas Burgers entities responsible for processing your personal information (also known in some jurisdictions as data controller) may differ. Please find information on how to identify your applicable responsible Las Gordas Burgers entity(ies) in Appendix 1. Click here to learn more.
            Acceptance Through Use	To the extent permitted by applicable law, your use of this Site or engagement in Professional Interactions with us signifies your understanding and acceptance of the terms of this Notice. Click here to learn more.
            Personal Information We Collect and Sources	We collect personal information about your use of the Site and Professional Interactions with Las Gordas Burgers such as Contact Information, Registration Information (such as username/password), Professional Information (such as job title, industry, employer), Business Relationship Information (such as your primary Las Gordas Burgers contacts), Social Media Information and Cookie, Device and Web Analytics Information.  We collect this personal information directly from you, from other Las Gordas Burgers employees, and from third parties. Click here to learn more.
            Use and Legal Bases	We use your personal information to make the Site accessible to you, to communicate with you, to interact professionally with and provide marketing to you, and to improve our and to fulfill other commercial or business-related purposes. We primarily rely on the overriding business interests of Las Gordas Burgers or your consent (if required by law) to process your personal information. Click here to learn more.
            Data Sharing	The Las Gordas Burgers is a global firm and the personal information we collect or you provide may be shared and processed as necessary with other Las Gordas Burgers entities, including those better suited to respond to your request and to provide you with access to the Site.  We may also share your personal information with third-parties such as service providers who assist us with IT and data hosting, marketing, and legal and regulatory compliance) and with public authorities.   Click here to learn more.
            International Data Transfers	We may share your personal information with other Las Gordas Burgers entities and service providers located outside of your home country. When doing so, we provide appropriate safeguards for international data transfers as required by applicable law.  Click here to learn more.
            Data Security	We implement appropriate technical and organizational security measures to safeguard the personal information we collect and process about you against loss and unauthorized alteration or disclosure. Click here to learn more.
            Data Retention	We retain the personal information we collect about you for as long as necessary for the purpose for which that information was collected or as otherwise legally required. Click here to learn more.
            Privacy Rights	Depending on the legal regulations in your country, you may have certain rights to request access, rectification, deletion, objection, or other actions regarding your personal information.  See details below, including how to exercise any privacy rights you may have under applicable law.  Click here to learn more.
            Changes to this Notice	If we make any material changes to this Notice, we will make changes here and, if the changes are significant, we will provide a more prominent notice. Where required, we will obtain your consent. Click here to learn more.
            EU/UK Representative	We have appointed a representative for the responsible Las Gordas Burgers entities located outside of the EEA and the UK that process your personal information subject to the EU General Data Protection Regulation and UK data protection law. The contact details are disclosed in this Notice. Click here to learn more.
            Data Protection Officer	Where required by law, we have appointed a data protection officer whose contact details are disclosed in this Notice. Click here to learn more.
            California Consumer Privacy Policy	Additional disclosures required under California law to be made to individuals who are residents of California, including relating to applicable privacy rights, are provided in Las Gordas Burgers’s California Consumer Privacy Policy. Click here to learn more. 
            Cookies	We use cookies on our Site and our preference manager allows you to restrict our use of cookies other than Required Cookies. Click here to learn more.
            Contact Las Gordas Burgers	You are always free to contact us if you have questions or concerns regarding this Notice, have a question or problem related to your use of the Site, our business-related interactions with you, or wish to exercise your rights or to exclude your personal information from our direct marketing purposes. Click here to learn more.
             
            
            FULL NOTICE
            
            Information on the Applicable Responsible Entity
            
            Depending on the legal regulations in your country and the applicable laws to which you are subject (such as in the EU/EEA and UK), you may have the right to information on  the Las Gordas Burgers entity responsible for processing your personal information (also known in some jurisdictions as data controller), which may differ depending on how and for what reason we collect your personal information through this Site or your professional interactions with the Las Gordas Burgers.  Information on how to identify your applicable responsible Las Gordas Burgers entity(ies) in Appendix 1. Each responsible Las Gordas Burgers entity collects your personal information directly from you, directly through your use of the Site or through certain third-party sources as identified in this Notice. The country where the responsible Las Gordas Burgers entity is located, such as the US for Las Gordas Burgers, may provide a level of data protection which is not equivalent to the level of data protection provided in your home country. More information on International Data Transfers of your personal information is below.
            
            Whenever this Notice refers to “Las Gordas Burgers”, “we”, “us” or “our”, it refers to the applicable responsible Las Gordas Burgers entity defined in Appendix 1 below.
            
            Global Privacy Notice
            
            1. Your Acceptance Through Use
            
            This Global Privacy Notice describes how Las Gordas Burgers collects, uses and discloses certain personal information obtained through this Site, your interactions with us on social media, and other professional interactions with you. Please note that, to the extent permitted by applicable law, your use of this Site signifies your understanding and acceptance of the terms of this Global Privacy Notice
            
            2. Personal Information We Collect and Sources
            
            Depending on how you interact with Las Gordas Burgers, you may be a data subject as a user of our Site or as a business contact of Las Gordas Burgers having a professional interaction with Las Gordas Burgers, such as a supplier, client, client employee, consultant, or business partner.
            
             
            
            a. Data Collection from You
            
            Depending on your use of the Site and Professional Interactions with Las Gordas Burgers, we may collect and process the following types of personal information from you.  See Consequences of Not Providing Personal Information to Us below for more detail on the consequences of not providing us with your personal information.
            
            Contact Information: such as your name, postal or e-mail address, and phone number
            
            Registration Data:  such as such as newsletter requests, event/seminar registrations, subscriptions, downloads, and username/passwords
            
            Job Applicant Data:  such as employment and educational history, relevant skills, professional certifications and affiliations, compensation history (where allowed by law) and any other information included in curriculum vitaes/resumés, online professional profiles, and job applications, opinions of references you provide, willingness to relocate, and, where allowed by law:  test and assessment results, information about your outside activities or family relationships that may give rise to a conflict of interest and, information about criminal offense, conviction, pending investigations and administrative sanctions.
            
            Employee Onboarding Information:  such as information necessary to form an employment or contractual relationship with the applicant and for legal compliance (such as national ID card, residency permits, and visas demonstrating the Right to Work), to processing payroll and provide employee benefits (such as bank account information, tax withholding elections, and beneficiary information), and disability or other data (where allowed by law) needed to provide workplace accommodations.
            
            Professional Relationship Information: such as business contact information, industry, job title or role, your primary Las Gordas Burgers contacts and record of interactions with Las Gordas Burgers, information you provide to us which assist us in serving the business relationship, such as the types of investments you are interested in, and information you provide about your personal life (excluding special categories of data)
            
            Marketing Data:  such as your interests and preferences in our products and services.
            
            Social Media Information based on your interactions with Las Gordas Burgers-operated social media sites:  such as your social media username, profile, and content of your interactions with, statements or opinions about Las Gordas Burgers or others in our industry, and aggregated usage reports.
            
            Cookie, Device, and Web Analytics Data:  such as your Computer Internet Protocol (IP) address, geo-location data, browser settings and similar data about the use of the Site,  mobile device advertising identifier, and cookies and other data linked to a device. For more information, see our Cookie Notice.
            b. Data Collection through Third Party Sources
            To the extent permitted by applicable law, we may collect and process the following personal information about you from third party sources:
            
            
            Contact Information:  such as your name, postal or e-mail address, and phone number. (The third parties who collect and share your Contact Information with us may include your employer, operators of property listing and other websites accessible from links within the Site, and other business partners.  These third parties are independently responsible (also referred to as an independent data controller in some jurisdictions) for the collection and processing of your Contact Information for their own, independent purposes.  We refer you to their privacy notices to understand their privacy practices and how to exercise any rights you may have).
            
            Job Applicant Data:  such as employment and educational history, relevant skills, professional certifications and affiliations, compensation history (where allowed by law) and any other information included in curriculum vitaes/resumés, online professional profiles, and job applications and, where allowed by law:  test and assessment results, and information about criminal offense, conviction, pending investigations and administrative sanctions.
            
            Marketing Data: such as your interest and preference in products and services similar to those offered by Las Gordas Burgers.  (The third parties who collect and share your Marketing Data with us may include companies in the business of compiling and selling marketing data and other business partners to whom you have provided your personal information. The third parties who collect and share your Marketing Data with us are independently responsible (also referred to as an independent data controller in some jurisdictions) for the collecting and processing of your Marketing Data for their own, independent purposes. We refer you to their privacy notices to understand their privacy practices and how to exercise any rights you may have).
            
            Social Media Information based on your interactions with third-party social media sites (including Las Gordas Burgers’s accounts on such third party sites) such as:  your social media username, profile, and content of your interactions with, statements or opinions about Las Gordas Burgers or others in our industry, and aggregated reports about your interactions with Las Gordas Burgers's social media accounts.
            
            Third Party Advertisement Technical Data from advertisements we place on third party websites: such as your IP address, browser type and version, device identifiers, location and time zone setting
            
            Contact Information we collect from third parties such as your employer or other professional referrals:  such as your name, postal or e-mail address, and phone number.
            
            c. Consequences of Not Providing Personal Information to Us
            There is no statutory or contractual obligation requiring you to provide your personal information to Las Gordas Burgers. The provision of your personal data is voluntary for you. You may choose not to provide your personal information to us, however, in this case, you may not be able to use our Sites and receive our services and/or to enable interaction with us. Also, the provision of your personal information may be necessary to allow us to perform a contract with you and/or to provide services to you. See the Cookie Notice below for more detail on how we use cookies and how to manage your cookie preferences
            
            3. How We Use Your Information and Legal Bases
            The purposes for which we use your personal information and the legal bases for such processing are as follows:
            
            To Manage and Provide You Access to the Site
            We process your Cookie, Device and Web Analytics Data to manage and provide you with access to the Site. We process this personal information where necessary based on the overriding legitimate business interest of Las Gordas Burgers or other third parties to provide you or your employer with access to the Site which we maintain for marketing and other business purposes, or based on your consent (if required by law).
            
            To Communicate With You About Your Job Application and Determine Your Qualifications and Suitability for Open Positions
            We process your Cookie, Device and Web Analytics Data to manage and provide you with access to the Site. We process this personal information where necessary based on the overriding legitimate business interest of Las Gordas Burgers or other third parties to provide you or your employer with access to the Site which we maintain for marketing and other business purposes, or based on your consent (if required by law).
            
            To Carry Out and Manage the Employee On-Boarding Process
            
            We process your Employee Onboarding Information to carry out and manage the employee on-boarding process if we offer and you accept employment with us. We use process this personal information where necessary to form an employment or contractual relationship with you and transfer this information to your personnel file for record-keeping purposes. We process your personal information where necessary to comply with Las Gordas Burgers’s legal obligations, including maintaining records, for pre-contractual purposes (e.g., to take steps at your request prior to entering into a potential employment relationship), for other overriding legitimate business interests of Las Gordas Burgers and/or based on your consent (if required by law).
            
            To Transact Business and Maintain a Professional Relationship With You
            
            We process your Contact Information and Professional Relationship Information to transact business and maintain a professional relationship with you or your employer. We process this personal information where necessary to take steps prior to entering into a contract with you (at your request), for the overriding legitimate business interests of Las Gordas Burgers or other third parties, such as to provide such requested services to you or your employer, or based on your consent (if required by law).
            
            To Provide Relevant Marketing to You
            
            We process your Contact Information, Registration Data, Marketing Data, and Third Party Advertisement Technical Data, and Cookie, Device, and Web Analytics Data to contact you about the services, offerings, events and newsletters in which you have expressed an interest or about similar offerings or services (including those of third parties such as business partners) and to better target our advertising and provide pertinent offers in which we think you would be interested. We process this personal information where necessary based on the overriding business interests of Las Gordas Burgers or other third parties (such as your employer or business partners) to keep you and our clients informed about our latest news, products and services and to better target our advertising to you, or based on your consent (if required by law).
            
            
            To Maintain and Manage Las Gordas Burgers’s Brand Reputation – Social Media
            
            We process your Social Media Information to maintain Las Gordas Burgers’s brand reputation through our presence on Las Gordas Burgers-operated and third party social media sites, including through Professional Interactions with you when you interact with our social-media channels. We process this personal information where necessary based on the overriding business interests of Las Gordas Burgers in maintaining and managing our brand reputation and based on your consent (if required by law).
            
            
            To Operate, Evaluate and Improve Our Business
            
            We process your Marketing Data, Professional Relationship Information, and Cookie, Device and Web Analytics Data to operate, evaluate and improve our business (including developing new products and services; managing our communications; determining the effectiveness of and optimizing our advertising; analyzing our products, services, websites, mobile applications and any other digital assets; facilitating the functionality of our websites, and mobile applications and any other digital assets). We process this personal information where necessary based on the overriding legitimate business interests of Las Gordas Burgers to operate and improve our business and based on your consent (if required by law).
            
            
            To Comply With Legal Obligations And Establish, Exercise or Defend Legal Claims
            
            To establish, exercise or defend our legal rights, to comply with lawful government requests for disclosure of personal information or otherwise to comply with legal obligations, we use any of the personal information we collect about you where legally permissible to do so. We process this personal information where necessary to comply with Las Gordas Burgers’s legal obligations or based on the overriding legitimate business interests of Las Gordas Burgers to exercise and defend legal claims or based on your consent (if required by law).
            If you object to us using information for these other uses you can email legal@lasgordasburgers.com.
            
            4. Sharing of Your Personal Information
            
            Where we can do so lawfully under applicable law, the personal information we collect may be shared and processed with the following categories of recipients, some of whom may be located in a country that does not provide an adequate level of data privacy and protection rights as your home country, as necessary for the purposes identified above in How We Use Your Information and Legal Bases, above.  Las Gordas Burgers has in place appropriate safeguards regarding internal personal information sharing. See International Data Transfers below for more information.  
            
            Internally with Other Las Gordas Burgers Entities
            
            Las Gordas Burgers is a global firm and the personal information Las Gordas Burgers collects or you provide may be shared and processed with Las Gordas Burgers entities as necessary for the purposes identified in How We Use Your Personal Information and Legal Bases, above.  For example, we may share your personal information internally with:
            
            another Las Gordas Burgers entity better suited to respond to your request,
            
            a decision-maker employed by another Las Gordas Burgers entity, or
            
            site administrators employed by another Las Gordas Burgers entity (referred to as data processors in some jurisdictions) who process certain of your personal information to manage your access to, maintain, and improve the functionality of the Site. 
            
            The potentially relevant Las Gordas Burgers entities are identified in Appendix 1.
            
            
            With Third Parties
            
            The potentially relevant third parties include:
            
            Service Providers who assist us with IT, cyber security, and data hosting providers, marketing, advertising and communications agencies, cookie analytics providers, online advertisers, and providers of website testing / analytics services.
            
            Third Party Cookie Providers who may track your browsing activity on our Site using cookies to show you ads based on your interests when you browse the Web or use social media and for analytical purposes. More information on these cookies, including how to provide or revoke your consent, may be found in our in our Cookie Notice below. 
            
            Consultants and advisors who assist us with legal, regulatory, and business operations activities, such as legal counsel, compliance consultants and business auditors.
            
            Business partners in case of a merger or sale, such as if Las Gordas Burgers is merged with another organization, or in the event of a transfer of our assets or operations.
            
            Legally Compelled Disclosure
            
            It may be necessary disclose your personal information to third parties, such as courts, litigants, governmental agencies, and/or regulatory authorities when required to do so by law or necessary in connection with legal proceedings or similar processes, for example, in response to a court order or a subpoena  or other legal obligation, in response to legally-binding disclosure requests by public authorities, including to meet national security or law enforcement agency requirements, or in special cases when we have reason to believe that disclosing your personal information is necessary to identify, contact or bring legal action against someone who may be causing injury to or interference with (whether intentionally or unintentionally) our rights or property or to defend ourselves.
            Las Gordas Burgers is committed not to disclose your personal information in response to a court order or a subpoena or other legal obligation originating outside your home country unless it is legally compelled to do so. In particular, Las Gordas Burgers has assessed and is of the view that neither it nor its US subsidiaries are not subject to, and personal information transferred to Las Gordas Burgers US cannot be targeted by, the US Foreign Intelligence Surveillance Act ("FISA") Section 702 since Las Gordas Burgers US does not qualify as a provider of electronic communication service, as defined in 18 U.S.C. § 2510, nor a provider of a remote computing service, as defined in 18 U.S.C. § 2711.  As a result, US intelligence authorities cannot issue a data disclosure demand under FISA upon Las Gordas Burgers or its US subsidiaries. In case Las Gordas Burgers receives nevertheless, at some point, data disclosure demands under FISA, we will publish a Transparency Report on Las Gordas Burgers.com and our EEA websites (see our Schrems II statement). All personal data transferred by Las Gordas Burgers to the US is encrypted in transit.
            
            5. International Data Transfers
            
            Processing In the US and Elsewhere
            
            Depending on the Las Gordas Burgers entity that is the responsible Las Gordas Burgers entity (see Appendix 1 below) and the recipients (see Sharing of Personal Information above),  your personal information may be  processed and hosted in countries other than the country in which the information was originally collected, including countries that may have less stringent data protection laws than the country in which you initially provided the information or in which your information was originally collected.
            
            In case of international data transfers, we will protect your personal information as required by all applicable data protection laws.
            
            If you are located in a non-US jurisdiction, the transfer of personal information to another country, in particular to Las Gordas Burgers in the US, may be necessary to provide you with the requested information and/or to perform any requested service. To the extent permitted by law, your request for information and/or services also constitutes your consent for the cross-border transfer.
            
            EEA and UK to Non-EEA Data Transfers
            
            With respect to international data transfers initiated by Las Gordas Burgers from the European Economic Area ("EEA") or UK to recipients in any non-EEA jurisdictions,
            
            
            some recipients are located in countries which are considered as providing for an adequate level of data protection under EU law (or UK law, as applicable). These transfers do not, therefore, require any additional safeguards under EU (or UK, as applicable) data protection law.
            
            other recipients are located in countries not providing an adequate level of data protection under EU or UK law, such as the U.S. and, where required by law, we have implemented appropriate safeguards, such as EU Standard Contractual Clauses, and/or are relying on binding corporate rules of the recipient or an appropriate derogation.  Where applicable, we implement supplementary technical and contractual safeguards. Under applicable law you may have the right to ask for further information on such appropriate safeguards (see Contact Us below).
            
            As stated above (see Legally Compelled Disclosures), Las Gordas Burgers has assessed and is of the view that US public authorities cannot issue a lawful disclosure demand for personal data under FISA 702 upon Las Gordas Burgers or its US subsidiaries. All personal data transferred by Las Gordas Burgers to the US is encrypted in transit. 
            
            
            6. How We Secure Your Personal Information
            
            
            We implement appropriate technical and organizational security measures to safeguard the personal information we collect and process about you against loss and unauthorized alteration or disclosure. The information you provide is encrypted in transit and at rest. We utilize role-based access controls to limit access to your personal information on a strict need-to-know basis consistent with the purposes for which we have collected such information. We utilize anti-malware and intrusion detection systems to guard against unauthorized access to our network, and we have an incident response plan in place to quickly respond to any suspected leak or breach of personal information.
            
            Where we share your personal information with our service providers, we have assessed that their technical and organizational measures provide an appropriate level of security.
            
            7. How Long We Keep Your Personal Information:
            
            
            We will only retain the personal information we collect about you for as long as necessary for the purpose for which that information was collected, and to the extent permitted by applicable laws. We take steps to ensure that when we no longer need to use your personal information, we remove it from our systems and records and/or take steps to anonymize it so that you can no longer be identified from it (unless we need to keep your information to comply with legal or regulatory obligations to which we are subject).
            
            
            8. Your Privacy Rights
            
            a. Marketing Communications - Rights to Opt-out and to Object
            
            
            When you register on our Site, we may ask you to select whether you would like to receive electronic communications from the Las Gordas Burgers such as offers, news, reports and other promotional communications. You may withdraw your consent or opt-out of receiving such communications at any time by contacting the Las Gordas Burgers as described below or following the Opt-Out or unsubscribe instruction contained in the body of any marketing electronic communication from us.
            Additionally, where we process your personal information for marketing purposes relying on our legitimate interests you will have the right to object to such processing at any time. Please be aware that where you object to this sort of processing it may affect our ability to carry out tasks as listed in this Notice.
            
            b. Contact Details – Marketing Communications
            
            Irrespective of the Las Gordas Burgers entity that is responsible for the processing of your personal data and the marketing communication, you may contact us centrally as stated below and we will ensure that the responsible Las Gordas Burgers entity receives your request relating to marketing communication and implements it promptly:
            (i) by sending an e-mail at legal@lasgordasburgers.com, including a copy of the e-mail you have received and by typing “Remove” in the subject line of your e-mail
            
            
            c. Requesting Access to Your Personal Information and Other Rights
            
            Depending on the legal regulations in your country and the applicable laws to which you are subject, you may have all or some of the following rights set out below and may submit a request(s) to exercise any such rights through our Data Subject Rights Portal or by contacting us at dsr@Las Gordas Burgers.com.  Irrespective of the Las Gordas Burgers entity that is responsible for the processing of your personal information, you may use such centralized contact details and Las Gordas Burgers will ensure that the responsible Las Gordas Burgers entity receives your request and addresses it promptly as required by applicable law. Las Gordas Burgers will respond to your request comprehensively, even if you do not identify the particular Las Gordas Burgers entity against whom you make the request. 
            
            
            Right of access: You may have the right to obtain from Las Gordas Burgers confirmation as to whether your personal information is being processed, and, where that is the case, to request access to your personal information. You may have the right to obtain a copy of your personal information undergoing processing. For additional copies requested by you, Las Gordas Burgers may charge a reasonable fee based on administrative costs. 
            
            
            Right to rectification: You may have the right to obtain from Las Gordas Burgers the rectification of inaccurate personal information concerning you.
            
            
            Right to erasure (right to be forgotten): You may have the right to ask us to erase your personal information, in which case Las Gordas Burgers has to comply.
            
            
            Right to restriction of processing: You may have the right to request the restriction of processing your personal information.  
            
            
            Right to data portability: You may have the right to receive your personal information which you have provided to Las Gordas Burgers in a structured, commonly used and machine-readable format and you may have the right to transmit those personal information to another entity without hindrance.
            
            Right to withdraw consent: If you have declared your consent for any personal information processing activities, you have the right to withdraw this consent at any time with future effect. Such a withdrawal will not affect the lawfulness of the processing prior to the consent withdrawal. This right to withdraw consent applies in particular to consents given for marketing and profiling purposes, if any.
            
            
            Right to object: Under certain circumstances, you may have the right to object, on grounds relating to your particular situation, at any time to the processing of your personal information by Las Gordas Burgers, and Las Gordas Burgers can be required to no longer process your personal information unless Las Gordas Burgers demonstrates compelling legitimate grounds for the processing which override your interests, rights and freedoms or for the establishment, exercise or defence of legal claims.  The right to object may, in particular, not exist if the processing of your personal information is necessary to take steps prior to entering into a contract or to perform a contract already concluded.
            
            Right to information on the possibility to withhold consent and information on the consequences of doing so.
            
            Right to information on third parties with whom we have shared your data.
            
            
             
            
            9. Changes to this Notice
            
            We are a rapidly evolving, global business. We will continue to assess this Notice against new technologies and services, business practices as well as our clients’ needs, and make changes to this Notice from time to time as required. If we make any material changes to this Notice, we will make changes here and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of Notice changes). Where required, we will obtain your consent.
             
            
            C. California Privacy Policy
            
            If you are a resident of the State of California (“Consumer”), Las Gordas Burgers’s California Privacy Policy (“California Policy”) supplements the information provided in this Notice and includes information about your privacy rights and how to exercise them.  The California Policy applies solely to personal information we have collected from individuals who are residents of the State of California in the twelve (12) months preceding the date on which the California Policy was last updated.
            
            Las Gordas Burgers does not sell nor share Personal Information or Sensitive Personal Information as defined under applicable California law.
            
            Depending on how you interact with Las Gordas Burgers as a user of our Site or as a business contact of Las Gordas Burgers having a professional interaction with Las Gordas Burgers, such as a supplier, client, client employee, consultant, or business partner, we may collect certain personal information.
            
            Identifiers such as a real name, alias, postal address, email address, phone number, usernames and passwords.
            Professional or employment-related information, including employment and educational history, relevant skills, professional certifications and affiliations, compensation history (where allowed by law) and any other information included in curriculum vitaes/resumés, online professional profiles, and job applications, opinions of references you provide, willingness to relocate, and, where allowed by law: test and assessment results, information about your outside activities or family relationships that may give rise to a conflict of interest and, information about criminal offense, conviction, pending investigations and administrative sanctions. This also includes information necessary to form an employment or contractual relationship with the applicant and for legal compliance (such as national ID card, residency permits, and visas demonstrating the Right to Work), to processing payroll and provide employee benefits (such as bank account information, tax withholding elections, and beneficiary information), and disability or other data (where allowed by law) needed to provide workplace accommodations
            Internet or other electronic network activity information, including social media username, profile, and content of your interactions with, statements or opinions about Las Gordas Burgers or others in our industry, and aggregated usage reports. This also includes Computer Internet Protocol (IP) address, geo-location data, browser settings and similar data about the use of the Site, mobile device advertising identifier, browser type and version, device identifiers, location and time zone setting, and cookies and other data linked to a device.
            Commercial information such as newsletter requests, event/seminar registrations, subscriptions, file downloads, interests and preferences in our products and services, and your interest and preference in products and services similar to those offered by Las Gordas Burgers. This also includes business contact information, industry, job title or role, your primary Las Gordas Burgers contacts and record of interactions with Las Gordas Burgers, information you provide to us which assist us in serving the business relationship, such as the types of investments you are interested in, and information you provide about your personal life (excluding special categories of data).
            Las Gordas Burgers uses this information to achieve purposes outlined in the How We Use Your Information and Legal Bases section above.
            
            Las Gordas Burgers does not sell nor share Personal Information or Sensitive Personal Information as defined under applicable California law
            
             
            
            D. Cookie Notice – Automatic Data Collection
            
            We use cookies and similar technologies on our Site and our cookie preference center allows you to restrict our use of cookies other than Required Cookies.
            
            What is a Cookie
            
            A cookie is a small text file that a website stores on your personal computer, telephone or any other device, with information about your navigation on that website. Cookies serve various purposes such as allowing you to navigate between pages efficiently, remembering your preferences, analyzing the use of our Site, generally improving the user experience, and ensuring that the advertisements you see online are more relevant to you and your interests. A cookie contains the name of the server it came from, the expiry of the cookie, a value – usually a randomly generated unique number as well as other data relating to your use of our Site. Depending on the applicable data protection law such information and data may qualify as personal information.
            
            Cookies Used by Us
            
            How We Use Cookies
            
            We use session cookies, which are temporary cookies that are erased from your device’s memory when you close your Internet browser or turn your computer off, and persistent cookies, which are stored on your device until they expire, unless you delete them before that time. We group cookies on our site into three categories.
            
            Required cookies: These cookies are necessary to enable the basic features of this Site to function, such as identifying you as a valid user, ensuring that no one else can sign on simultaneously with your account from another computer and helping us serve you better based on your registration preferences. These cookies may also be used to remember and honor your cookie preferences via our cookie preference center.
             
            
            Functional cookies: These cookies allow us to analyze your use of the Site to evaluate and improve our performance. They may also be used to provide a better customer experience on this Site. For example, providing us information about how our Site is used and helping us facilitate any promotions or surveys that we provide.
             
            
            Advertising cookies: These cookies may be used to share data with advertisers so that the ads you see on our Site or on third party websites are more relevant to you, allow you to share certain pages with social networks, or allow you to post comments on our Site.
            
            Type of Cookies We Use
            
            Details on the cookies used on our Site are provided in the cookie preference center available via the link "Cookie Preferences" on the button of our Site. Please click on "Detailed Settings" in the sections on functional cookies and advertising cookies.
            
            Consent Requirements
            
            Depending on the applicable data protection law, we may only place and use functional cookies and advertising cookies if you have given your consent via our cookie banner. Our cookie preference center on our Site allows you to make further choices and/or withdraw a consent regarding our use of cookies (with the exception of Required Cookies).
            
            
            Performance Tracking via Similar Tracking Technologies
            
            We sometimes use performance tracking technologies, such as web beacons, pixel and tags, within our marketing emails or within advertisements displayed on our Site or third party websites. These performance tracking technologies may be provided by us or by third parties and they help us to track whether an email recipient has completed an event, such as signing up for a free trial for example, or a user has clicked on advertisement. Further information on the performance tracking technologies used in our marketing emails and on our Site or third party websites are available via the link "Cookie Preferences" on the button of our Site.   Please click on "Detailed Settings" in the sections on functional cookies and advertising cookies.
            
            Managing Your Cookie Preferences
            
            Cookie Preference Center
            Our cookie preference center on our Site allows you to make choices regarding our use of cookies (with the exception of Required Cookies). If you use our cookie preference center on a mobile device, we process your device’s advertising identifier to honor your choices via our cookie preference center. If you make choices in our cookie preference center for cookies (e.g., if you reject a certain cookie), persistent cookies will be set by the ad networks listed in our cookie preference center to honor your preferences.
            If you clear your cookies in your browser settings, this will remove all cookies including the opt-out cookies set to honor your choices made in our cookie preference center. You will need to re-access the cookie preference center to reset your preferences. Additionally, if you are located in the EEA or Brazil, you will also be presented with the cookie banner on the Site to re-consent to cookies where required.
            
            Do Not Track
            
            We currently do not respond to “Do Not Track” signals from your browser. Our use of tracking technologies may instead be controlled through our cookie preference center.
            
            Disabling and Preventing Further Use of Cookies
            
            In addition to restricting cookies in our cookie preference center, you may restrict, block or delete the cookies from this Site at any time by changing the configuration of your browser. You can find out how to do this, and find more information on cookies, at https://www.allaboutcookies.org/. In addition, while each browser has different settings and configurations, cookies settings can typically be adjusted in the "Preferences" or "Tools" menu of your browser. Your browser’s "Help" menu may provide additional information. Note, however, that deleting or blocking Required Cookies will cause the Site to not function properly.
            
            Contact Us
            
            You are always free to contact us if you have questions or concerns regarding this Notice, have a question or problem related to your use of the Site, or wish to exclude your personal information from our direct marketing purposes. Our standard business practice is to retain any communications from our Site visitors to help us to serve each of you better.
            You may contact us by emailing info@lasgordasburgers.com.</p>
    </section>
    <Footer />
</Layout>