---
import "../styles/Theme.css";
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar.jsx";
import Footer from "../components/Footer.astro";
---
<Layout title="Gordas Bugers - Terms">
    <Navbar client:load />
    <section class="w-1/2 mx-auto rounded-md p-4 backdrop-blur-md border-customSecondary border-2 justify-center items-center  ">
        <h2>Terms & Conditions </h2>
        <p>Last updated: 01 Dec 2023</p>
        <p> 
            This Las Gordas Burgers Terms of Use agreement (this “agreement”) is a legal agreement between you and Las Gordas Burgers. (“Las Gordas Burgers”, “we”, “us” or “our”) providing, among other things, the terms and conditions for your use of our website accessible at https://www.lasgordasburgers.com (the “site”).
            
            We may from time to time modify these Terms of Use and will post a copy of the amended agreement at https://www.lasgordasburgers.com/terms If you do not agree to, or cannot comply with, the agreement as amended, you should not use the site. You will be deemed to have accepted the agreement as amended if you continue to use the site after any amendments are posted on the site. We reserve the right to refuse to provide our products and services to anyone at any time.
            
            This agreement contains warranty and liability disclaimers. By using this site, you accept and agree to the terms and conditions of this agreement without any reservations, modifications, additions, or deletions. If you do not agree to the Terms of Use contained in this agreement, you are not authorized to use the site. You may be denied access to the site, with or without prior notice to you if you do not comply with any provision of this agreement.
            
            1. Authorized users
            
            1.1 Age requirement; authority. In order to use the site, you must be at least 18 years of age. You represent that (i) you have read and understood, and that you agree to be bound by, this agreement and (ii) you are at least 18 years old. If you do not agree to, or cannot comply with, any of these terms and conditions of this agreement, please do not attempt to access this site.
            
            1.2 Registration. We reserve the right to restrict certain areas of information on this site to our approved registered users. In the event that any area of the site requires you to register with us prior to our granting you access to such areas of the site, you agree to provide truthful information, including but not limited to a member name and password as well as your name, address, telephone number and a valid email address (the “account information”). You agree to provide accurate account information and to update your account information as necessary to keep it accurate. Las Gordas Burgers will use your account information in accordance with its privacy policy, which can be found at https://www.lasgordasburgers.com/privacy, as described further in section 6 of this agreement. You are solely responsible for maintaining the confidentiality of your member name and password. You agree to notify us immediately of any unauthorized use of your member name, password or account. Las Gordas Burgers will not be responsible for any losses arising out of the unauthorized use of your account and you agree to indemnify and hold harmless Las Gordas Burgers, its partners, parents, subsidiaries, agents, affiliates and/or licensors, as applicable, for any improper, unauthorized or illegal uses of your account.
            
            2. License to use the site
            
            2.1 Grant of license. Las Gordas Burgers grants to you a limited, non-exclusive, non-transferable license to access and use the site in accordance with the terms and conditions set forth in this agreement. Las Gordas Burgers reserves all right, title and interest not expressly granted under this license to the fullest extent possible under applicable laws. Any use of the site not specifically permitted under this agreement is strictly prohibited.
            
            2.2 Restrictions. You agree that you will not: (i) use the site to reproduce, transmit, display or distribute copyrighted material in any medium or via any method without Las Gordas Burgers’s express written permission; (ii) copy, store, edit, change, prepare any derivative work of or alter in any way any of the content provided on this site; or (iii) use our site in any way that violates the terms of this agreement. The site is owned by Las Gordas Burgers and is protected by united states copyright laws and international treaty provisions. You will not sublicense, assign, or transfer the license granted to you under this agreement. Any attempt to sublicense, assign, or transfer any of the rights, duties, or obligations in violation of the provisions of this agreement is void.
            
            3. Other restrictions
            
            You agree that you will not: (a) impersonate any person or entity or misrepresent your affiliation with any other person or entity; (b) engage in spamming, flooding, harvesting of e-mail addresses or other personal information, spidering, screen scraping, database scraping, or any other activity with the purpose of obtaining lists of users or any other information, including specifically, property listings available through the site; (c) send chain letters or pyramid schemes via the site; or (d) attempt to gain unauthorized access to other computer systems through the site. You agree that you will not use the site in any manner that could damage, disable, overburden, or impair the site or interfere with any other party’s use and enjoyment of the site.
            
            4. Copyrights and other intellectual property
            
            4.1 As between you and Las Gordas Burgers, you acknowledge that Las Gordas Burgers owns or has a license to all title and copyrights in and to the content provided on this site. All title and intellectual property rights in and to any licensed content provided on this site is the property of the respective content owners and may be protected by applicable copyright or other intellectual property laws and treaties and subject to use restrictions under such laws or treaties.
            
            4.2 Photos herein are the property of their respective owners and use of these images without the express written consent of the owner is prohibited.
            
            5. Trademarks and third-party trademarks
            
            The following are registered trademarks or trademarks of Las Gordas Burgers: Las Gordas Burgers and its design logo, as well as certain other Las Gordas Burgers trademarks, service marks, graphics, and logos (collectively, the “Las Gordas Burgers trademarks”) used in connection with Las Gordas Burgers’s provision of products and services. The site may contain third-party trademarks, service marks, graphics, and logos. You are not granted any right or license with respect to the Las Gordas Burgers trademarks or the trademarks of any third party.
            
            6. Privacy policy
            
            Unless otherwise addressed in this agreement, your use of this site is subject to Las Gordas Burgers’s privacy policy, which is incorporated by reference and made a part of this agreement. It is important that you read and understand the terms of Las Gordas Burgers’s privacy policy. Las Gordas Burgers may cooperate with and disclose information (including your account information) to any authority, government official or third-party, without giving any notice to you, in connection with any investigation, proceeding or claim arising from an asserted illegal action or infringement whether related or unrelated to your use or misuse of this site.
            
            7. Submissions or other information
            
            If you submit to us or post on the site any property listing, testimonial, comment, review, suggestion or any work of authorship (collectively a “submission”) including, without limitation, submissions about any of our products or services, such submission will not be confidential or secret, and may be used by us in any manner. Please do not submit or send any submission to us that you consider contains confidential or proprietary information. No submission sent to us will be considered or treated as confidential information. We do not pre-screen submissions and we will have no obligation to read any particular submission submitted or sent to us. By submitting or sending a submission to us, you: (i) represent and warrant that the submission is original to you, that no other party has any rights thereto, and that any “moral rights” in such submission have been waived, and (ii) you grant us a royalty-free, unrestricted, worldwide, perpetual, irrevocable, non-exclusive and fully transferable, assignable and sub licensable right and license to use, reproduce, publish, distribute, display, translate, summarize, modify and adapt such submission (in whole or part) and/or to incorporate it in other works in any form, media, or technology now known or later developed, in our sole discretion, with or without your name.
            
            8. Term
            
            This agreement will remain effective until terminated by you or terminated by us.
            
            9. Disclaimers
            
            9.1 The site (including all of its content) is provided to you “as is.” Any use of this site is at your own risk. To the maximum extent permitted by applicable law, Las Gordas Burgers disclaims all warranties, either express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, title and non-infringement. Las Gordas Burgers makes no representations, warranties or guarantees that this site will be free from loss, destruction, damage, corruption, attack, viruses, interference, hacking, or other security intrusion, and Las Gordas Burgers disclaims any liability relating thereto.
            
            9.2 Las Gordas Burgers makes no representations, warranties or guarantees that use or results of the use of the site (including all of its content) is or will be accurate, reliable, current, uninterrupted or without errors. Without prior notice, Las Gordas Burgers may modify, suspend, or discontinue any aspect or feature of this site or your use of this site. If Las Gordas Burgers elects to modify, suspend, or discontinue the site, it will not be liable to you or any third party.
            
            9.3 All property listing information contained within this site is subject to the possibility of errors, omissions, change of price, rental or other conditions, prior sale, lease or financing, or withdrawal without notice. Any projections, opinions, assumptions or estimates contained within this site are for example only, and such projections, opinions, assumptions or estimates may not represent current or future performance of a listed property. You and your tax and legal advisors should conduct your own investigation of any property listed on this site and any contemplated transaction concerning any property listed on this site.
            
            9.4 You acknowledge that your submission of any information to us is at your own risk. Las Gordas Burgers does not assume any liability to you with regard to any loss or liability relating to such information in any way.
            
            9.5 Some of the content, products, and services available through the Las Gordas Burgers site may include materials that belong to third parties. You acknowledge that Las Gordas Burgers assumes no responsibility for such content, products or services.
            
            10. Limitation of liability
            
            In no event will Las Gordas Burgers be liable to you for indirect, general, special, incidental, consequential, exemplary or other damages (including, without limitation, damages for loss of profits, business interruption, corruption of files, loss of business information or any other pecuniary loss) even if Las Gordas Burgers has been advised of the possibility of such damages. No oral or written information or advice given by Las Gordas Burgers or others will create a warranty and neither you nor any third party may rely on any such information or advice. Some jurisdictions do not allow the exclusion of implied warranties or limitation or exclusion of liability for incidental or consequential damages, so the above exclusions and limitations may or may not apply to you.
            
            11. Indemnity
            
            You will indemnify and hold Las Gordas Burgers, its directors, officers, employees, affiliates, agents, contractors, and licensors harmless with respect to any suits or claims arising out of (i) your breach of this agreement, including, but not limited to, any infringement by you of the copyright or intellectual property rights of any third party; or (ii) your use or misuse of the site.
            
            12. General
            
            12.1 You will be responsible for providing the dial-up, DSL, cable modem or other form of Internet access and any other hardware and software necessary to access and use the site.
            
            12.2 Las Gordas Burgers complies with all applicable laws, including, but not limited to, privacy laws and individual state laws with respect to the sale or lease of real property. You agree that you will comply with all such laws applicable to you.
            
            12.3 Las Gordas Burgers or its business partners may present advertisements or promotional materials on or through the site. Your dealings with, or participation in promotions of, any third-party advertisers on or through the site are solely between you and such third party and your participation is subject to the terms and conditions associated with that advertisement or promotion. You agree that Las Gordas Burgers is not responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such third party materials on the site.
            
            12.4 This agreement will be governed by the laws of the state of California. The exclusive jurisdiction for any claim, action or dispute with Las Gordas Burgers or relating in any way to your use of the site will be in the state and federal courts of the state of California and the venue for the adjudication or disposition of any such claim, action or dispute will be in the county of Los Angeles, California.
            
            12.5 Las Gordas Burgers may send notices to you with respect to your use of the site by sending an email message to the email address listed in your account information, by sending a letter via U.S. mail to the contact address listed in your account information, or by a posting a note on the site when you access your account. You agree that we may provide notice to you through such means. Unless otherwise stated in the notices, the notices will become effective immediately.
            
            12.6 General contact information. For questions regarding this site or your use of this site, please use the Contact Us form located at lasgordasburgers.com.
            
            You acknowledge that you have read this agreement, understand it and will be bound by its terms and conditions. You further acknowledge that this agreement represents the complete and exclusive statement of the agreement between us and that it supersedes any proposal or prior agreement oral or written, and any other communications between us relating to the subject matter of this agreement.</p>
    </section>
    <Footer />
</Layout>