---
import dashboard from "../assets/images/logo.png";
import videos from "../assets/videos/losgordos.mp4";
import {Image} from 'astro:assets'
--- 
<section
  class="relative z-0 p-10 lg:p-40 flex justify-center items-center"
  id="home"
>   <video autoplay loop muted playsinline class="w-full object-cover absolute top-60 lg:top-20 -z-10">
  <source src={videos} type="video/mp4">
  Your browser does not support the video tag.
</video>
  <div class="w-full rounded-md p-4 backdrop-blur-md border-customSecondary border-2 md:w-[800px] xl:w-[900px] flex flex-col justify-center items-center  text-center">
      <div class="text-customSecondary uppercase tracking-widest text-sm sm:text-base  mb-6   font-bold">
        Bay Area Pop Up Burgers - A Fusion of Hispano-American and Hawaiian Flavors
      </div>
      <div class="w-full columns-1 lg:columns-2">
          <Image
            src={dashboard}
            alt="grungy-roof-top"
            class="w-full mx-auto z-10 rounded-xl"
       />
      <div class=" text-customSecondary text-sm lg:text-base xl:text-lg sm:text-base m-4 text-left sm:px-12">
          At Las Gordas Burgers, we're all about serving up mouthwatering burgers that bring together the rich Hispanic and tropical Hawaiian flavors, right here in the heart of San Jose. Our passion for great food and friendly service is what drives us every day, and we can't wait to share our culinary love with you.</div>
      </div>
      <div class="flex sm:flex-row mt-14justify-center">
        <a
          href="/#books"
          class="custom-button-colored w-64 sm:w-52 h-12 mr-0 sm:mr-4 lg:mr-6 mb-2 sm:mb-0"
        >
          Book Us
      </a>
      </div>
  </div>
</section>